.button {
  background-color: white;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-original-color {
  background-color: white;
}

.button-clicked-color {
  background-color: green;
  color: white;
}
