/* https://codepen.io/JoeCodesStuff/pen/bLbbxK */
/* https://bashooka.com/coding/40-css-javascript-animated-countdown-timer-examples/ */

body {
  width: 300px;
  height: 500px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background: radial-gradient(#f4d03f, #16a085);
  background-repeat: no-repeat;
  font-family: "Arial", sans-serif;
  color: #333;
}

h1 {
  font-size: 20pt;
  margin-bottom: 1rem;
}

h3 {
  font-size: 12pt;
  margin-bottom: 0.5rem;
}

.button {
  background-color: white;
  margin: 5px;
  padding: 2.5px 10px;
  font-size: 10pt;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
  cursor: pointer;
}

.button-original-color {
  background-color: white;
}

.button-clicked-color {
  background-color: green;
  color: white;
}

#go-btn {
  font-size: 10pt;
  padding: 2.5px 40px;
  margin-top: 25px;
}

#notice {
  font-size: 10pt;
  color: rgb(140, 41, 41);
}

/* timer.html */


#countdown {
  color: #228b22;
  font-size: 40pt;
  font-weight: 600;
  letter-spacing: 1px;
}

#back-icon {
  position: absolute;
  top: 10px;
  left: 250px;
}

#sessionNumber {
  color: #228b22;
  font-size: 20pt;
  font-weight: 600;
}

/* ---------------------- */
/* PopUp Page             */
/* ---------------------- */
.popup-page {
  display: block;
  position: fixed;
}

/* ---------------------- */
/* Timer Page             */
/* ---------------------- */
.timer-page {
  display: none;
  position: fixed;
}