/* https://codepen.io/JoeCodesStuff/pen/bLbbxK */
/* https://bashooka.com/coding/40-css-javascript-animated-countdown-timer-examples/ */

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(#f4d03f, #16a085);
  background-repeat: no-repeat;
  font-family: "Arial", sans-serif;
  color: #333;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.buttons {
  margin: 1rem;
  text-align: center;
}

/* .button {
  background-color: white;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s;
} */

.button {
  background-color: white;
  margin: 5px;
  padding: 5px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
  cursor: pointer;
}

.button-original-color {
  background-color: white;
}

.button-clicked-color {
  background-color: green;
  color: white;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

#go-btn {
  font-size: 1.5rem;
  margin: auto;
}

#notice {
  font-size: 1rem;
  color: #999;
  margin-top: 1rem;
}

.timer-container {
  text-align: center;
}

#countdown {
  color: #228b22;
  font-size: 40px;
  font-weight: 600;
}
